<template>
  <section>


    <button class="button is-primary">Make all GIF!!</button>

    <p>{{this.bucketName}}</p>

    <div class="columns is-centered">

      <div class=" column is-half">
        <b-table
            :data="data"
            :fields="fields"
        >


          <template slot-scope="props">

            <template v-for="field in fields">
              <b-table-column :field="field.field" :label="field.label" :sortable="field.sortable">
                {{ field.display(props.row) }}
              </b-table-column>
            </template>

            <b-table-column label="Action" style="width: 50px">
              <button class="button is-primary" @click="onGif(props.row.name)">
                <span>Make GIF!</span>
              </button>
            </b-table-column>

          </template>


        </b-table>
      </div>

    </div>

  </section>
</template>

<script>
  import axios from "axios"
  export default {
    name: "control-room",
    props: ["bucketName"],
    data() {
      return {
        // bucketName: "TEST",
        data: [],
        // data: [],
        // checkedRows: [data[1], data[3]],
        fields: [
          {
            field: "name",
            label: "Name",
            display(row) {
              return row.name;
            },
          },

        ]
      };
    },
    methods: {
      onGif(objectName){
        console.log(this.bucketName)
        console.log(objectName)
      },
      async updateData(){
        await axios.get("http://localhost:8080/"+this.bucketName+"/?list").then(responses => {
          this.data = [];
          console.log( responses.data['objects'])
          for (let index in responses.data['objects']) {
            const obj = responses.data['objects'][index];
            const ext = obj.name.substring(obj.name.lastIndexOf('.'),obj.name.length);
            console.log(ext);
            if ([".mp4", ".avi", ".mov"].includes(ext)) {
              this.data.push(obj)
            }
          }
        })
      }
    },
    computed: {
      currentBucket: function() {
        this.updateData()
        console.log("Com")
      }
    },
    async beforeUpdate() {
      this.currentBucket = this.bucketName;
      // if(this.bucketName === '' || this.bucketName === undefined){
      //   this.$router.push({
      //     name: "home"
      //   });
      // }
      // const extList =
      this.updateData()


      console.log(this.data)

    }
  }
</script>