<template>

  <section>
    <div class="columns is-multiline is-centered">
      <div v-for="d in data" class="column is-narrow" >
        <div class="tile">
          <article class="tile is-child notification is-primary">

            <img :src="d">

          </article>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from "axios"
  export default {
    name: "display-room",
    props: ["bucketName"],
    data() {
      return {
        // bucketName: "TEST",
        data: [],
        // data: [],
        // checkedRows: [data[1], data[3]],
        fields: [
          {
            field: "name",
            label: "Name",
            display(row) {
              return row.name;
            },
          },

        ]
      };
    },
    methods: {
      onGif(objectName){
        console.log(this.bucketName)
        console.log(objectName)
      },
      updateData(){
        const name = this.bucketName
        axios.get("http://localhost:8080/"+this.bucketName+"/?list").then(responses => {
          this.data = [];
          for (let index in responses.data['objects']) {
            const obj = responses.data['objects'][index];
            const ext = obj.name.substring(obj.name.lastIndexOf('.'),obj.name.length);
            console.log(ext);
            if ([".mp4", ".avi", ".mov"].includes(ext)) {
              this.showGif(obj.name)
            }
          }
        })
      },
      showGif(name){
        const gifName = name.substring(0,name.lastIndexOf('.'));
        this.data.push("http://localhost:8080/"+this.bucketName+"/"+gifName+".gif")

      }
    },
    mounted() {
      this.updateData()
    //   if(this.bucket === null || this.bucket === undefined){
    //     this.$router.push({
    //       name: "home"
    //     });
    //   }

    }
  }
</script>

<style scoped>

</style>