<template>
  <div id="app">

    <b-dropdown>
      <button class="button is-large is-info" slot="trigger">
        <span>Change Bucket!</span>
      </button>

      <b-dropdown-item class="is-large" v-for="d in data" @click="setBucket(d.name)" v-bind="d.name">{{d.name}}</b-dropdown-item>

    </b-dropdown>

    <p>{{this.bucket}}</p>

    <div id="nav" v-if="bucket !== null">
      <router-link :to="{ name: 'control', params: { bucketName: this.bucket }}"> Control Center</router-link> |
      <router-link :to="{ name: 'display', params: { bucketName: this.bucket }}">Display Room</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>

  import axios from "axios";

  export default {
    name: "app",
    data() {
      return {
        bucket: null,
        data: [],

        fields: [
          {
            field: "name",
            label: "Name",
            display(row) {
              return row.name;
            },
          },

        ]
      };
    },
    methods: {
      setBucket(b){
        this.bucket = b;
        this.$router.push({
          name: "control",
          params: {
            bucketName: b,
          },
        });

      }
    },
    mounted() {
      axios.get("http://localhost:8080/asdad?all").then(responses => {
        this.data =  responses.data
      })
      this.bucket = this.bucketName
    }
  }

</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
